[2013-11-21 17:36] maxtaco opened #1 "Hunt should maybe use the Twitter API"
There's no reason to do the scraping for hunting for the tweet ID, since we can use the Twitter API for that.

But for now, it works with the scrapar, so let's keep it that way.

[2014-08-14 18:31] fvalle1 opened #5 "Facebook"
Why don't prove also facebook, like this: git@github.com:keybase/proofs.git :-)

[2014-10-20 03:26] pathawks opened #7 "Flickr QR Code"
To prove a Flickr identity (or other photo sharing services), could the signed JSON be encoded into a QR code image, or is that too tricky?

[2014-12-10 19:59] maxtaco opened #11 "Reverse-key signing for subkey and sibkeys"
* maybe factor out some code

[2014-12-29 18:44] laserlemon opened #14 "Reddit proof failing"
Here's my proof: https://www.reddit.com/r/KeybaseProofs/comments/2qq3a4/my_keybase_proof_redditlaserlemon/

Keybase can't seem to verify. Thank you!

[2015-01-01 16:36] laserlemon commented on #14
Posted under the wrong repo. Closing and moving to https://github.com/keybase/keybase-issues/issues/1293.

[2015-01-01 16:36] #14 closed

[2015-01-14 19:00] maxtaco opened #15 "Add eldest_key into signed key blocks"
In support of keybase/keybase#204

[2015-02-05 15:53] DoctorBlue opened #16 "Bitbucket proof"
It's become quite common to expect everyone to be using Github. A lot of people prefer Bitbucket (or a private repo, those can be validated as websites) and it would be nice to have support for that as well :)

[2015-02-05 15:55] malgorithms commented on #16
cool, we have this one documented on https://github.com/keybase/keybase-issues/issues/518

(we're trying to keep services together as one issue.)

[2015-02-05 15:55] #16 closed

[2015-03-07 08:33] kirelagin commented on #7
I’m not an active flickr user, but I’m pretty sure it has photo descriptions.
So posting a random picture (or not random, but the Keybase logo) with an appropriate description should be enough.

[2015-03-07 08:46] kirelagin commented on #1
Shouldn’t this be closed already?

[2015-03-07 13:13] #1 closed

[2015-03-07 17:38] pathawks commented on #7
@kirelagin Photo descriptions can change at any time. Reuploading a photo will break the old URL.

[2015-03-08 07:04] kirelagin commented on #7
So what?

[2015-03-08 17:24] pathawks commented on #7
Same reason that Twitter authentication is done via tweet rather than in the bio.

[2015-03-08 20:01] kirelagin commented on #7
I guess the reason why Twitter verification is not done in bio is that bio is typically reserved for something short and meaningful and always stays on top so the place there is somewhat expansive it terms of usefulness. But purely _technically_ there is nothing wrong with doing this in the twitter bio.

Comment of a photo in the flickr photostream is pretty much the same as a tweet in the twitter

[2015-03-08 20:07] pathawks commented on #7
This has been discussed before elsewhere, but there *is* a technical reason why this is not done.

Somebody can change their bio at anytime, but cannot modify a tweet once it has been posted.
If you verified with a Tweet a year ago, and that verification is still valid, I can know that nobody changed your key last night. If you verified with something like a bio, I have no way of knowing that.

[2015-03-08 20:53] kirelagin commented on #7
Now, this does make sense.

Well, actually, there is a better way to know whether someone has changed my key last night: keep the “key changed” records in the signature chain and make clients output the last changed date.

[2015-03-08 20:56] oconnor663 commented on #7
The user's signature chain does contain the date when all their proofs were first posted, so the most solid way to check the date of a proof is to look at that. You can crossreference Keybase's merkle roots with the bitcoin blockchain to be sure we're not lying. This isn't automated yet in any convenient way that I know of, but it does mean that we don't need to rely on trusting Twitter and other

[2015-03-19 02:32] mark-adams opened #19 "Add support for Bitbucket to Keybase"
Atlassian Bitbucket [launched](https://blog.bitbucket.org/2015/03/18/snippets-for-teams-are-here-with-a-rich-set-of-apis/) their Snippets feature today which allows developers to post arbitrary pieces of code publicly. With the addition of this feature, users should now be able to create Bitbucket proofs.

Documentation for the API is available here: https://confluence.atlassian.com/display/BITBUC

[2015-06-07 19:25] maxtaco opened #20 "Generate update_passphrase_hash signatures"
For keybase/client#379

[2015-06-07 19:30] #20 closed

[2015-06-30 12:30] maxtaco opened #21 "Auth signature should put auth details in an "auth" block"
This will break many existing non-released software components.

[2015-07-15 21:39] maxtaco opened #22 "Check that signatures have the right stanzas in their bodies based on sig types."
This should be part of `_v_check`.  Codify the possibilities in the library.

CC: @lord @oconnor663

[2015-07-21 02:20] maxtaco commented on #11
This is now closed.

[2015-07-21 02:20] #11 closed

[2015-07-21 02:26] maxtaco opened #23 "Support for full-body PGP key signing"
As per keybase/client#544, add new field `full_pgp_sha256` to applicable `eldest`, `dualkey` and `sibkey` chainlinks.

[2015-07-21 02:32] maxtaco opened #24 "New chain link type for PGP key updates"
As per keybase/client#544, there should be a dedicated link for PGP updates, just to capture the new `pgp_full_sha256` hash.

[2015-07-21 13:24] maxtaco opened #25 "Simplify Reddit Scraping strategy"
Right now we're scraping from keybase-proofs subreddit, but it might be easier to scrape on the per-user page.  In v2.0.26, we pushed some temporary bugfixes to crashers, but we should do the right thing and fix and simplify our strategy.

[2015-07-24 21:26] Sidnicious commented on #25
:sparkles: a471ca8088ffaa8d4991b209181cbc7ae5b84488 :sparkles:

[2015-07-24 21:26] #25 closed

[2015-07-24 21:27] maxtaco commented on #25
:+1:

[2015-07-30 00:36] maxtaco opened #26 "Roll dualkey, subkey and sibkey into one sig tag"
Reduce the proliferation of tags, since a lot of times these sig types accompany one another.

[2015-08-03 18:32] maxtaco commented on #26
Let's just stay with sibkey and subkey, no dualkey.

[2015-08-03 18:32] #26 closed

[2015-08-06 18:19] #22 closed

[2015-08-13 20:36] #23 closed

[2015-08-13 20:59] Sidnicious commented on #24
Fixed in e163ce29b0f642f17503b7f1d5b2f9355cfa59fe

[2015-08-13 20:59] #24 closed

[2015-08-17 18:29] Sidnicious opened #30 "You should be able to sign `pgp_updates` with any key"

[2015-08-18 18:08] Sidnicious commented on #30
Fixed by 64821068be2efe6f30c782514667fc4f35ae2c32.

[2015-08-18 18:08] #30 closed

[2015-08-20 15:08] maxtaco opened #32 "SubkeyBase deserves a better name"
And also we should rename the virtual methods that SubkeyBase requires to be prefixed with `_v_` for consistency. Sorry I blew this.

[2015-08-21 18:38] Sidnicious opened #33 "Remove `key_id`?"
The `key_id` field in key sections signed by PGP keys isn't really used for anything, but we still require it. Should we remove it completely?

[2015-08-21 18:40] oconnor663 commented on #33
Let's remove it from `proofs` for now, so that sometime in the future once all clients update we'll be able to post signatures without this field?

[2015-09-14 20:22] maxtaco opened #35 "accommodate trailing newline in strict proof checking"
In particular the newline won't be in the whitelisted ASCII Set.

[2015-09-15 13:12] maxtaco commented on #35
Closed in bf73aac502251fe627ab445c4c50c2bfa7dc08fb via v2.0.42

[2015-09-15 20:04] #35 closed

[2015-09-22 13:00] #19 closed

[2015-09-23 02:10] maxtaco commented on #15
Done

[2015-09-23 02:10] #15 closed

[2015-10-21 17:47] kevinSuttle opened #36 "Website proof failed"
Did I screw something up here?

https://keybase.io/kevinsuttle
http://kevinsuttle.com/keybase.txt

[2015-10-21 17:48] maxtaco commented on #36
Seems like you revoked this proof? https://keybase.io/kevinsuttle/chain

[2015-10-21 18:49] kevinSuttle commented on #36
At some point trying to figure it out, yeah. But re-attempting never works.

[2015-10-21 19:12] maxtaco commented on #36
Oh, I think you're in this situation in which you're uploading the old proof.  I see.  You've revoked proof #12, and proven again in #13, but you've only posted #12.  Can you update your website with this proof (your latest, see below that it's `seqno: 13`):

[code]

[2015-10-21 19:20] kevinSuttle commented on #36
Sorry, just updated with 15.

[2015-10-21 19:21] kevinSuttle commented on #36
And it appears to have succeeded. ¯\_(°.°)_/¯

[2015-10-21 19:21] #36 closed

[2016-01-31 23:52] RoxasShadow opened #38 "Can't prove HN"
My username on HN is *RoxasShadow* (karma 16), but keybase (browser) can't prove it (I asked my HN account to be proved yesterday, so the cache should not be an issue.).
If I reload my profile page, I notice that the username is shown lower-cased even though I wrote it correctly:

<img width="726" alt="screen shot 2016-02-01 at 00 50 20" src="https://cloud.githubusercontent.com/assets/805144/12706

[2016-02-01 00:48] maxtaco commented on #38
That's a very reasonable theory... Thanks for the bug report.  We'll take a look.  Does it work if you try from the command line BTW?  Annoyingly hard for us to test since we all have non-cased usernames.

[2016-02-01 00:48] maxtaco commented on #38
cc: @malgorithms

[2016-02-01 09:22] RoxasShadow commented on #38
The behaviour is the same with the keybase client too.

[2016-02-01 12:51] malgorithms commented on #38
@maxtaco - it looks like all the HN proofs in their sigchain are cased correctly as "RoxasShadow" so I don't think the browser is mangling the case when generating the proof.

I'm going to figure out why it's stripping case when rereloading the form, but I think that's a side issue.

[2016-02-01 12:56] malgorithms commented on #38
@RoxasShadow  - quick q - what path led you to popping up the above screenshot with the case flipped?

[2016-02-01 13:00] maxtaco commented on #38
Ah if it isn't a case issue I would check the firebase API has been updated
properly.  Sometimes there is a ton of lag there.

On Monday, February 1, 2016, Chris Coyne <notifications@github.com> wrote:

[2016-02-01 13:28] RoxasShadow commented on #38
@malgorithms I went to my profile and noticed my lowercased username on the HN row that alerted the unproved profile and I tried to click "Replace" on the little dropdown that appears when the red "profile!" link is clicked.

[2016-02-01 13:53] maxtaco commented on #38
Seems like Firebase isn't cooperating with us: https://hacker-news.firebaseio.com/v0/user/RoxasShadow/about.json

Everything else seems to be working as planned.

[2016-03-18 04:38] virtualdxs commented on #19
When does this come into the release client?

[2016-03-25 16:53] mralext20 commented on #7
im sorry this is a year in the past, but you can also edit GH gists. so there's no reason why you cant have the message be editable.

[2016-03-27 20:02] zhuowei commented on #7
@mralext20 I believe the gist fetcher keeps the Git commit hash in the url, ensuring that only that particular revision would be fetched and displayed.

[2016-08-22 22:22] dragon788 commented on #7
Because of the extra checksumming available in a QR code you can "degrade" the image by inserting an additional image into the center and still leave it a valid QR code. Is there some other piece of information that could be encoded that would be visual and allow a user to easily see who the QR code claims to be from, maybe an overlaid block of letters from a hash of the fingerprint?

http://stack

[2016-08-29 15:01] bdmorin opened #43 "Don't know where else to ask this - Removing Proofs"
How do we remove proofs? I'm trying to remove a DNS proof, and I don't think the commandline or website offers that.

[2016-08-29 15:03] maxtaco commented on #43
[code]

[2016-08-29 15:04] bdmorin commented on #43
argh... SO EASY. Thank you.

[2016-08-29 15:04] #43 closed

[2016-08-31 20:49] ryancdotorg opened #44 "eBay account proofs"
It would be great to be able to link an eBay account to keybase.

[2017-03-25 16:55] #5 closed

[2017-04-25 04:42] paulhugel opened #60 "API network error facebook"
keybase id --skip-proof-cache
▶ INFO Identifying paulhugel
✔ public key fingerprint: D922 B7B1 3A4D 9BF9 0927 DCA1 7A14 4B7D A3F4 8305
฿  bitcoin 1KbKNUaZFwF7s9j3UNLaPycPvYgoSqwuFW
✔ admin of DNS zone nko.org: found TXT entry keybase-site-verification=lCQtHEPPWQAyyAZLOxbIeUQxdYO4EIIxqo_vswfRsB8
✔ "paulhugel" on github: https://gist.github.com/8e3ae3921cc2e7c89e0d
✔ "paulhugel" on hackernews: https

[2017-04-25 14:09] cjb commented on #60
It looks like your network connection to Facebook is failing?  Like maybe it's firewalled off or there's some kind of outage.

[2017-04-26 03:39] paulhugel commented on #60
Today I re-ran the command but Keybase app still shows "UNREACHABLE

:~ paul$ keybase id --skip-proof-cache
▶ INFO Identifying paulhugel
✔ public key fingerprint: D922 B7B1 3A4D 9BF9 0927 DCA1 7A14 4B7D A3F4 8305
฿  bitcoin 1KbKNUaZFwF7s9j3UNLaPycPvYgoSqwuFW
✔ admin of DNS zone nko.org: found TXT entry keybase-site-verification=lCQtHEPPWQAyyAZLOxbIeUQxdYO4EIIxqo_vswfRsB8
✔ "paulhugel" on github: h

[2017-04-26 03:43] paulhugel commented on #60
just ran command second time

Pauls-MacBook-Air:~ paul$ keybase id --skip-proof-cache
▶ INFO Identifying paulhugel
✔ public key fingerprint: D922 B7B1 3A4D 9BF9 0927 DCA1 7A14 4B7D A3F4 8305
฿  bitcoin 1KbKNUaZFwF7s9j3UNLaPycPvYgoSqwuFW
✔ "paulhugel" on twitter: https://twitter.com/paulhugel/status/588158776471003136
✔ "paulhugel" on reddit: https://www.reddit.com/r/KeybaseProofs/comments/32n9ej/m

[2017-04-26 03:49] paulhugel commented on #60
Facebook looking normal again?
![screen shot 2017-04-25 at 5 47 52 pm](https://cloud.githubusercontent.com/assets/6466830/25417399/863e290c-29df-11e7-82b2-5d5b27240405.png)

[2017-04-26 03:50] #60 closed

[2017-04-26 04:00] paulhugel commented on #60
still getting intermittent

"paulghugel" on facebook failed: API network error: Get https://www.facebook.com/paulghugel/posts/698602107008518: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers) (code=170)

[2017-05-02 04:29] i90rr opened #63 "OpenBazaar proof"
Would love to see this =)

[2017-05-03 22:46] fhorlaville opened #64 "http / https proof not functioning"
Hi, I have recently switched web servers and had forgotten to move the keybase.txt file along, so rightfully I got the message that the web proof couldn't be verified. I have put the file back in place and checked it's working but can't re-enable the proof.
The keybase.io web server says it's not there (although it is) and the keybase app says it can't generate a new one because it's already prese

[2017-05-03 22:57] oconnor663 commented on #64
`keybase id fhorlaville` is failing too. In my logs (`keybase -d id -s fhorlaville`) I only see
[code]

@mlsteele, do you know if there's a PVL-related reason we wouldn't also be hitting https://www.tamsoftware.info/keybase.txt?

[2017-05-04 15:25] mlsteele commented on #64
@oconnor663 The client gets a hint of where to look from the server and only looks there. The server tries both locations but only until it finds a success. I guess when it starts failing the server only rechecks from its hint.

@fhorlaville The simplest thing to do until we make this better is to just revoke/redo the domain proof.

This is the same issue as https://github.com/keybase/keybase-issu

[2017-05-06 04:14] fhorlaville commented on #64
Thanks a lot, @oconnor663 and @mlsteele , for your quick answers.
I will do as suggested. I will also take a look at the code doing this proof to see if I can offer a solution.
Would it be too much to ask which repo I should clone and look into?

Thanks,

Franck Horlaville
TAM Software

[2017-05-06 18:41] oconnor663 commented on #64
All the code you're running locally is in https://github.com/keybase/client. What went wrong in this case is server code though, which is not open source. In general the server tells clients where to look for a proof, and the clients do all the verification locally, but it was the where-to-look that was broken. (We might be able to get rid of this mechanism for web proofs in particular, since ther

[2017-05-11 20:19] fhorlaville commented on #64
Now it gets even weirder ; I’ve created it as well in the other location, checked it, see that it’s being requested but it’s still broken

54.84.133.185 - - [11/May/2017:21:09:59 +0100] "GET /.well-known/keybase.txt HTTP/1.1" 200 2566 "-" "keybase-proofs/2.1.11"

[2017-05-12 04:51] pento opened #69 "Add Gravatar support"
Gravatar is the public profile service for all WordPress.com users.

I'm employed by Automattic, (the company behind WordPress.com and Gravatar) I think we could reasonably add a spot for our users to add a Keybase verification signature.

[2017-05-12 16:48] oconnor663 commented on #64
@fhorlaville I'm seeing `Signature not found in body` when I ID you. Is that consistent with what you're seeing?

The error is probably that the file at https://www.tamsoftware.info/.well-known/keybase.txt is an old proof, rather than the one that was generated when you proved the domain most recently. When I look at [your sigchain](https://keybase.io/fhorlaville/chain), I see that your most recen

[2017-05-13 13:55] fhorlaville commented on #64
I deleted it all and re-created it ; all is fine now but wasn’t easy as the keybase app kept saying there was already a live proof.

Sorry for the hassle!

Franck

[2017-05-19 13:21] zackw opened #70 "Web proof for https://www.owlfolio.org/ not working, server won't retry"
The Keybase server claims not to be able to verify the proof for https://www.owlfolio.org/ since May 16.  Nothing has changed on my site, and I can manually verify (with a web browser) that https://www.owlfolio.org/.well-known/keybase.txt still exists and its contents are unchanged since I put it there quite some time ago.  When I tell the Keybase server to retry the proof, it _immediately_ tells

[2017-05-19 13:22] zackw commented on #70
(To be clear, from my end, it appears that the keybase server _doesn't_ try to access the proof even when told to with the web UI.)

[2017-05-19 19:23] oconnor663 commented on #70
I notice that when I try to `curl` your proof, I get a gzip encoded version. It might be that your webserver is sending gzip without checking the Accept-Encoding header? I'm not familiar enough with that header to know any more than that though.

P.S. Let's Encrypt was down today, though I think that would only have affected you if you were trying to renew?

[2017-05-19 19:40] zackw commented on #70
I was going to say that I don't think that can be the problem, because that would still get to the point where my webserver shows an access log entry for the keybase proof-checker... except that I don't see an access log entry for your curl test, either.  Other stuff is getting logged though.  Weird.

[2017-05-19 19:59] oconnor663 commented on #70
Interesting. I ran a few different `-v` variants of `curl https://www.owlfolio.org/.well-known/keybase.txt`.

[2017-05-19 20:25] zackw commented on #70
On further investigation, the access logs are a red herring, and you're absolutely right that it was sending gzipped content when it shouldn't.  I have fixed the site configuration, but due to the somewhat Rube Goldberg hosting arrangement I have, it may take a while for that to take effect (there's a reverse proxy that I don't directly control, that has cached stuff incorrectly, and I don't know

[2017-05-20 14:54] zackw commented on #70
The bad cached data timed out and the keybase server now accepts my proof again.

Can we morph this into a feature request for the keybase web UI to give more helpful error messages when a proof fails?  We could have avoided all this if it had given any indication of what the problem was.

[2017-05-22 17:31] oconnor663 commented on #70
Agreed that this sort of thing tends to be super mysterious, and apologies for the goose chase. There are a couple difficulties in building meaningful error reporting into the proof checker, unfortunately: 1) Checking is usually asynchronous, 2) Most error messages are gobbledygook to most users ("HTTP error code such-and such", "div #so-and-so missing", etc). We could build around all these probl

[2017-05-22 18:03] zackw commented on #70
Understood.

[2017-06-15 18:16] selfagency opened #72 "Proof request: Mastodon"
Please add support for verifying one's self on [tootsuite/mastodon](/tootsuite/mastodon) instances.

[2017-06-19 22:34] kg4zow commented on #19
I hate to sound like "me too", but ... any idea when this will make it into the release clients?

[2017-06-25 17:50] hyperfekt opened #73 "Ricochet proofs"
Ricochet IM, as you may have noticed, is quickly becoming the new standard for communication of those with high needs in privacy. It would be awesome to verify my identity on there as well.

[2017-07-25 04:41] BenjaminHCCarr opened #76 "[FR] Validate against Slashdot"
Posted in keybase/client#7880 but likely belongs here instead as it would be a new scraper.

---

It would be "useful" in the I've been kicking around "these parts" of the internet to be able to verify against SLASHDOT-current:

eg: a blog post at: https://slashdot.org/~OctaneZ

https://slashdot.org/journal/2912197
![slashdot_validate](https://user-images.githubusercontent.com/8225968/28555984-36a

[2017-08-17 15:22] veqtor opened #77 "Ethereum Address / Proof"
If keybase would let users add an ethereum adress, it could be used to verify the identity on the ethereum blockchain using oracle services like oraclize.
This would help a lot of smart contracts that would require a reputation system, for example querying reddit post karma, etc to provide a somewhat working proof-of-individuality

How this would work:
User adds ethereum adress
User calls contract

[2017-09-20 19:09] xkr47 opened #78 "Spotify proof support"
In Spotify one could create a public playlist named "Keybase" and add the proof (300 chars max) in the description field, which could then be verified directly from the web..
(moved from keybase/client#5974)

[2017-09-22 19:11] BenjaminHCCarr commented on #70
Can we close this one?
It was solved, which is good for those trying to work on proofs, but as it was solved should be closed.

[2017-09-22 19:14] #70 closed

[2017-09-23 02:29] #7 closed

[2017-11-07 11:03] Gunni opened #84 "Migrate proofs to PGP key"
Hey, i have this graph:

![gg-1510052297](https://user-images.githubusercontent.com/358099/32490428-1748299c-c3ab-11e7-8a15-5021433fc6d1.png)

I want to perform the changes marked in red.

How can these changes be done, and where is the interface for this documented?

[2017-11-11 09:51] jayvdb opened #85 "Add GitLab proof"
https://gitlab.com/

[2017-11-11 14:24] jayvdb commented on #85
A workaround is to use a GitLab Pages website as a proof.
But it could be a group, not a user.  A GitLab API lookup is needed to distinguish between them.

[2017-11-11 14:31] jayvdb commented on #64
Is there a problem which can be fixed in this repo?
Or should this be closed?

[2017-11-11 14:45] jayvdb opened #86 "Add StackExchange proof"

[2017-11-13 19:54] #64 closed

[2017-11-22 09:12] jeblad opened #87 "Add Wikimedia proof"
Could be a simple blob with signature added to any page, given that a specific revision can be fetched, and that the user name is posted on that fetched revision.  Any one of the sites can be used, but a separate fetch should be done to verify that the user has a unified entry. Otherwise the user is only valid on the given site. The value for "CentralAuth" gives the central identifier, the value f

[2017-12-01 04:43] mayo opened #88 "Proof request: micro.blog"
Can't post a text or change DNS, but can make posts ala Twitter.

[2018-01-05 11:00] ysangkok opened #89 "IDN domains not supported"
I want to verify https://kæn.guru as my domain, but it is not accepted in the input field.

[2018-01-19 20:09] eentzel opened #90 "Users are able to claim domains they do not own"
Copied from https://twitter.com/EdOverflow/status/954093588362809345 (in which see further details):

[2018-04-02 06:27] DiagonalArg opened #98 "Twitter Proofs- please allow us to put this in our profile rather that only the stream. (For private feeds/ tweetdelete.net)"
I am moving this request [from the client issues tracker](https://github.com/keybase/client/issues/7303).

I have a private twitter feed, so I tried putting the proof into the twitter profile (visible on the twitter.com/@user page). That should be recognized as well as it being in the feed, but it isn't.

(I did try changing my privacy setting to public, tweeting the proof, doing the verification

[2018-04-02 06:31] bungabunga commented on #98
Please allow this feature. I use Twitter the way that every tweet that I post gets deleted after 10 days. That happens automatically, through www.tweetdelete.net, so I must also prove my Twitter identity on Keybase every 10 days. If we're allowed to put Twitter Proofs in Twitter profile I wouldn't have to do that.

[2018-05-14 18:55] stefanobaghino opened #101 "Support Eternity Wall proof of identity"
[Eternity Wall](https://eternitywall.it/) is a Bitcoin-based microblogging platform. You can think of it as "Twitter on the blockchain". I believe it would be very cool to give "authenticated users" (basically holders of a given private key) the possibility to enrich their verified identities on Keybase.

[2018-06-04 18:33] nmarley commented on #85
Please add this - there should be huge demand in the wake of MS takeover. I personally would LOVE to be able to prove who I am on GitLab as I migrate away from GitHub.

[2018-06-06 06:48] bkcsoft commented on #85
GitLab has snippets, could be done similar to the BitBucket proof https://github.com/keybase/proofs/pull/18. I would also like this very much :)

[2018-06-07 11:01] yan12125 commented on #85
The GitHub proof is done via searching the gists via the API `https://api.github.com/users/#{username}/gists`. On Gitlab, it's possible to do the same thing on the website (e.g., from https://gitlab.com/users/yan12125/snippets), but seems there's no API to do the same thing (https://gitlab.com/gitlab-org/gitlab-ce/issues/47489).

[2018-06-07 15:59] MyriaCore opened #102 "Better documentation"
At least update the Readme file to include if contribution / pull requests are accepted. Other than that, documentation on how developers could implement proof systems for their apps and services would be much appreciated :stuck_out_tongue_winking_eye:

[2018-06-19 06:57] gappleto97 commented on #84
Is it possible to change the connections at all? I did not think it was.

[2018-06-19 10:06] Gunni commented on #84
@gappleto97 yes by making a new connection?

[2018-06-19 15:11] gappleto97 commented on #84
I mean, yes, but I dont think there is any documented way to add connections without adding devices/keys

[2018-06-19 20:17] Gunni commented on #84
@gappleto97 yes, and therefore this issue exists

[2018-06-20 22:22] gappleto97 opened #103 "Add OpenStreetMap as a provable identity"
I am willing to make a PR for this.

It seems like the best way is to use the diary feed that each user has. This can be either scanned sequentially by incrementing the ID, or parsed as an RSS feed. There does not appear to be an API for fetching these entries outside of the two I have listed.

[This is what it would look like to increment the ID](https://www.openstreetmap.org/user/tomapsas/diary/

[2018-07-09 16:36] Mikaela opened #105 "Proofing Hubzilla profiles"
Hubzilla - https://project.hubzilla.org/page/hubzilla/hubzilla-project

The profile/channel proof should be easy to post publicly, but there is a trick of the same profile/channel being able to simultaneously/identically exist on multiple Hubzilla instances which should probably be thought about while bringing support to Keybase or there will be multiple instances having proofs for all instances r

[2018-07-09 18:10] rugk opened #106 "Proofing GitLab"
Ref https://github.com/keybase/keybase-issues/issues/518#issuecomment-334266843

[2018-07-09 18:10] rugk opened #107 "Proofing LiberaPay"
Ref https://github.com/keybase/keybase-issues/issues/518#issuecomment-351544024:

[2018-07-09 18:16] rugk commented on #106
Oh duplicate of https://github.com/keybase/proofs/issues/85, sorry.

[2018-07-09 18:16] #106 closed

[2018-07-15 22:21] nyanloutre opened #108 "Add memo.cash proof"
Original issue : https://github.com/keybase/client/issues/11587

https://memo.cash

This popular system desperately needs a way to connect its identifying BCH address (more accurately raw hash160 since multiple address formats are in use) to identities on other systems, and keybase is the perfect way to do it.

[2018-07-29 16:38] mittalyashu commented on #78
There are still few countries which Spotify doesn't support.

[2018-07-29 16:42] mittalyashu opened #109 "Mobile number proof"

[2018-07-29 16:43] mittalyashu opened #110 "Medium proof"
https://medium.com

[2018-07-30 06:07] xkr47 commented on #78
Am I correct that you mean a Spotify proof is not currently interesting as it wouldn't be universally verifiable?

[2018-07-31 04:39] xkr47 commented on #78
Very well, thanks!

[2018-07-31 04:39] #78 closed

[2018-08-25 04:32] simonsigre opened #116 "AlienVault OTX Proof"
Would be great to be able to prove your AlientVault OTX account;

https://otx.alienvault.com

This could be achieved via posting into a custom Pulse;

https://otx.alienvault.com/pulse/create

[2018-09-06 13:58] howardjp commented on #72
I would like to support this and note that because of the distributed nature of the Mastodon network, Keybase verification would be very helpful.  This mitigates that new accounts with the same name but hosted on a different node are confused with the "real" account.  In addition, while imperfect on Twitter, Mastodon cannot replicate the blue-check mechanism.  So Keybase would be the only reasonab

[2018-09-06 17:59] xkr47 commented on #72
Yeah.. a "keybase verified" icon would be nice.. :)

It seems the main discussion is happening in the issue keybase/keybase-issues#2948, where the main developer (Gargron) has apparently gotten involved in discussions with keybase staff.

[2018-09-06 18:49] xkr47 commented on #105
keybase/keybase-issues#2948 might be of interest where they discuss Mastodon integration and how a more generic ActivityPub approach might be achieved.

[2018-10-01 16:43] MyriaCore commented on #85
I gotta bump this up. I use gitlab all the time, it's frustrating to have my keybase not link it. I'd love to be able to add it myself in a pull request, but because of Issue #102 learning the way proofs are added would take way more time than I have ATM.

[2018-10-01 17:53] rugk commented on #102
In other words: "Add a CONTRIBUTING.md" file. :wink:

[2018-10-02 11:33] stephlocke opened #126 "FR: Add ORCID proofs"
Help people contribute to academic or scientific software with a validated identify by allowing them to verify their ORCID with you

ORCID is a unique identifier for people and helps associated them with the work they do. Anyone can make an ORCID for someone though so it'd be great o enable people to validate it's associated with them in keybase

http://orcid.org

[2018-11-12 14:14] saizai opened #132 "Telegram proof"
Request: add proof for Telegram accounts.

AFAICT the only place to put it is in the Telegram bio. That shows up and is publicly scrapable at e.g. https://t.me/saizai; mine is just set to my website URL, but it could contain an arbitrary hash sig.

[2018-11-13 13:57] shareme commented on #85
yes can we have this might be at first best to do it via the user website gitlab pages features

[2018-12-11 21:36] sparr commented on #90
a DNS-based approach would address this issue, but be more technically complex for low skill domain owners.

[2018-12-12 17:15] sparr commented on #90
@Mikaela can you give an example of such a service?

False negatives are much less bad than false positives when it comes to verifying ownership.

[2019-01-23 06:40] yocorn commented on #85
+1

[2019-02-28 11:20] jcolson opened #136 "two GPG keys; proofs don't work for anything except the first GPG key"
i have two GPG keys.  If I replace the key fingerprints in the 'shell+gpg+curl' method with the second GPG key fingerprint, the https://keybase.io/_/api/1.0/sig/post.json service fails gloriously with the below, when in fact, the key DOES exist in keybase...

[code]

[2019-03-06 20:42] TomBaxter commented on #85
Not sure if this helps but, [This issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/41888) was closed with this [commit](https://gitlab.com/gitlab-org/gitlab-ce/commit/12818c20430bec5b54903e19ff78b0575c61f05c)

[2019-03-19 21:07] hexandcube commented on #85
bump!

[2019-04-27 20:26] hexandcube commented on #85
+1

[2019-04-28 10:04] hexandcube commented on #85
https://gitlab.com/gitlab-org/gitlab-ce/issues/60810

[2019-04-28 11:37] KINGRANDOLPH opened #137 "keybase.md"
### Keybase proof

I hereby claim:

  * I am jrando1995 on github.
  * I am jrando1995 (https://keybase.io/jrando1995) on keybase.
  * I have a public key ASCFVNDimaZPErv_ElEpbGW1rxT5rEGdRFvrF_S-_HFfUwo

To claim this, I am signing this object:

[code]

with the key [ASCFVNDimaZPErv_ElEpbGW1rxT5rEGdRFvrF_S-_HFfUwo](https://keybase.io/jrando1995), yielding the signature:

[code]

And finally, I am

[2019-04-28 20:47] hexandcube commented on #137
You are supposed to post this as a gist, not here.

[2019-04-28 20:51] hexandcube commented on #72
I think that this can be closed.

[keybase.io/blog/keybase-proofs-for-mastodon-and-everyone](https://keybase.io/blog/keybase-proofs-for-mastodon-and-everyone)

[2019-05-10 22:34] davidpomerenke commented on #109
@mittalyashu How should that be done?
Proofs, for example on Twitter, need to be permanently visible so that others can verify them. As there is no public part related to mobile numbers, I see no possibility for that.
It might definitely be useful for (encrypted) services like Telegram, Whatsapp, Signal, Threema etc., if they have some public profile (which optionally is the case for Telegram at l

[2019-07-11 20:26] jacnoc commented on #98
I have two possible workarounds:

1. This is a really nice (manual) way to delete tweets. I quite like this application, personally: https://martani.github.io/Twitter-Archive-Eraser/

2. I actually found this last night. This tweet delete method deletes tweets older than x time, but allows you to specify to, for example, not delete tweets that you favorite/like. So you would just have to remember

[2019-07-19 01:18] computator commented on #19
Just wondering what happened to this since it was merged nearly 4 years ago.
@maxtaco

[2019-07-25 20:06] maxtaco commented on #19
we now have a new system to do this!

https://keybase.io/docs/proof_integration_guide

[2019-07-25 20:18] computator commented on #19
I did see that, however that requires us to wait on bitbucket to add support. If we already have code written for bitbucket that uses snippets, just like GitHub has explicit code for gists, then why not use it?

[2019-07-25 20:33] maxtaco commented on #19
There's a lot of tooling around doing it the old way that never got done because there wasn't enough interest internally and externally.  The new way has us automating the tooling but does require the other side to help out. But it lends to a smoother experience. We're happy to help them out if they'd be interested in this.

[2019-08-19 17:37] nift4 opened #147 "[Reddit Proof] What I am doing wrong?"
https://old.reddit.com/r/KeybaseProofs/comments/csk2mk/my_keybase_proof_redditnift4_keybasenift4_fz/
https://old.reddit.com/r/KeybaseProofs/comments/csk8q3/my_keybase_proof_redditnift4_keybasenift4/
https://old.reddit.com/r/KeybaseProofs/comments/cskeac/my_keybase_proof_redditnift4_keybasenift4/

It cannot find the proof...

[2019-08-19 17:40] nift4 commented on #147
It detectet it now.

[2019-08-19 17:40] #147 closed

[2019-09-06 10:45] xkr47 commented on #137
@KINGRANDOLPH please close

[2019-09-06 10:49] xkr47 commented on #85
Yeah I agree with @hexandcube, I would vote for implementing support in the gitlab side instead of keybase. This would allow all basically gitlab instances to work, not just the one at gitlab.com.

[2019-09-09 18:34] gopnik25 commented on #137
### Keybase proof

I hereby claim:

  * I am gopnik25 on github.
  * I am gopnik25 (https://keybase.io/gopnik25) on keybase.
  * I have a public key ASAOuV8vabX96brdUAwbW0xYQTHTyCq_BSKkU3YC8f91vwo

To claim this, I am signing this object:

[code]

with the key [ASAOuV8vabX96brdUAwbW0xYQTHTyCq_BSKkU3YC8f91vwo](https://keybase.io/gopnik25), yielding the signature:

[code]

And finally, I am proving

[2019-09-09 18:35] hexandcube commented on #137
You should post this as a gist. Not here.

On Mon, Sep 9, 2019, 8:34 PM gopnik25 <notifications@github.com> wrote:

[2019-09-09 20:05] gopnik25 commented on #137
could not figure out the steps to post

On Mon, Sep 9, 2019 at 2:35 PM Mikołaj Zaremba <notifications@github.com>
wrote:

[2019-09-10 00:17] asmerella commented on #137
### Keybase proof

I hereby claim:

  * I am asmerella on github.
  * I am asmerella (https://keybase.io/asmerella) on keybase.
  * I have a public key ASAlcjH5ZuUR2Y0kzcPB9XDVdXzUX6i3Uhl1ds1jPVBTuAo

To claim this, I am signing this object:

[code]

with the key [ASAlcjH5ZuUR2Y0kzcPB9XDVdXzUX6i3Uhl1ds1jPVBTuAo](https://keybase.io/asmerella), yielding the signature:

[code]

And finally, I am prov

[2019-09-10 08:07] FerdiFux commented on #137
### Keybase proof

I hereby claim:

  * I am ferdifux on github.
  * I am technics1210er (https://keybase.io/technics1210er) on keybase.
  * I have a public key ASCitZWK49DanlL6BHTP8-7UIYymEqMWo4bQcMpa3TpF0wo

To claim this, I am signing this object:

[code]

with the key [ASCitZWK49DanlL6BHTP8-7UIYymEqMWo4bQcMpa3TpF0wo](https://keybase.io/technics1210er), yielding the signature:

[code]

And fina

[2019-09-10 08:39] hexandcube commented on #137
Can someone close this issue? Because People are posting their proofs here.

@

[2019-09-10 10:47] phatloc19 opened #149 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am phatloc19 on github.
  * I am tung78 (https://keybase.io/tung78) on keybase.
  * I have a public key ASCqDrQZ_PokgMsIXHLmrJY5Co9dUB2pRNUu0Css3p9Muwo

To claim this, I am signing this object:

[code]

with the key [ASCqDrQZ_PokgMsIXHLmrJY5Co9dUB2pRNUu0Css3p9Muwo](https://keybase.io/tung78), yielding the signature:

[code]

And finally, I am proving owner

[2019-09-10 12:40] saxofooon commented on #137
### Keybase proof

I hereby claim:

  * I am saxofooon on github.
  * I am saxophone (https://keybase.io/saxophone) on keybase.
  * I have a public key ASANpcD7NX4bVcdAjI1Cipge6AZugFQ88kmDwR34HMaviQo

To claim this, I am signing this object:

[code]

with the key [ASANpcD7NX4bVcdAjI1Cipge6AZugFQ88kmDwR34HMaviQo](https://keybase.io/saxophone), yielding the signature:

[code]

And finally, I am prov

[2019-09-10 13:39] xkr47 commented on #137
@saxofooon also clearly something went wrong with the instructions

[2019-09-10 17:31] Tolna commented on #137
### Keybase proof

I hereby claim:

  * I am tolna on github.
  * I am tolna (https://keybase.io/tolna) on keybase.
  * I have a public key ASC_SHAIxVtrAAzVfcUKJT1Xi-5s0MhSHQBH4ycX-Y_sZAo

To claim this, I am signing this object:

[code]

with the key [ASC_SHAIxVtrAAzVfcUKJT1Xi-5s0MhSHQBH4ycX-Y_sZAo](https://keybase.io/tolna), yielding the signature:

[code]

And finally, I am proving ownership of

[2019-09-10 17:44] hexandcube commented on #149
You should post this as a gist, not here.
@phatloc19 please close this issue.

[2019-09-10 17:45] xkr47 commented on #137
Did someone create a bot to create keybase accounts in hope of collecting XLMs and fail to do it well? :thinking:

[2019-09-10 17:47] xkr47 commented on #149
Related to #137

[2019-09-10 17:58] SlavaTit opened #150 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am slavatit on github.
  * I am slavabilka (https://keybase.io/slavabilka) on keybase.
  * I have a public key ASDTVxhRIWsK6259u9WVJkMY8IuC__Rd03beb6HuBM9TIAo

To claim this, I am signing this object:

[code]

with the key [ASDTVxhRIWsK6259u9WVJkMY8IuC__Rd03beb6HuBM9TIAo](https://keybase.io/slavabilka), yielding the signature:

[code]

And finally, I am pr

[2019-09-10 18:02] #150 closed

[2019-09-11 02:14] zekecucukwei opened #152 "Public gist keybase.md"
### Keybase proof

I hereby claim:

  * I am zekecucukwei on github.
  * I am btckwei (https://keybase.io/btckwei) on keybase.
  * I have a public key ASAa4ut5eNDRBdMx9SNSy9tTMiqUA88L_wLr3zMZrUMFnQo

To claim this, I am signing this object:

[code]

with the key [ASAa4ut5eNDRBdMx9SNSy9tTMiqUA88L_wLr3zMZrUMFnQo](https://keybase.io/btckwei), yielding the signature:

[code]

And finally, I am proving

[2019-09-11 04:27] Gden50 commented on #137
It is an Airdrop but yes the instructions are useless about connecting an Github account to Keybase account .. yes it should be in gist .. bad instructions for us who don’t use Github a lot !! .. I set it up after going at it for about an hour ! .. I’m good with computers and I’ve not got a clue how I set this up correctly .. can’t even find my entry now ha ha ..

[2019-09-11 06:12] #149 closed

[2019-09-11 06:52] burakgok2000 opened #153 "Keybase proof"
I hereby claim:

  * I am burakgok2000 on github.
  * I am kerpek (https://keybase.io/kerpek) on keybase.
  * I have a public key ASBLlcN-JggEtB0Bwaml4kvc5i5jLnwupE-S7jQBfPr5AQo

To claim this, I am signing this object:

[code]

with the key [ASBLlcN-JggEtB0Bwaml4kvc5i5jLnwupE-S7jQBfPr5AQo](https://keybase.io/kerpek), yielding the signature:

[code]

And finally, I am proving ownership of the gith

[2019-09-11 07:51] 2life91 opened #154 "keybase.md"
### Keybase proof

I hereby claim:

* I am 2life91 on github.
* I am 2life9 (https://keybase.io/2life9) on keybase.
* I have a public key ASChcexPzlfbke0GmCqVSd_W_4ybNurI84uFQ6PpYTzv7wo

To claim this, I am signing this object:

[code]

with the key [ASChcexPzlfbke0GmCqVSd_W_4ybNurI84uFQ6PpYTzv7wo](https://keybase.io/2life9), yielding the signature:

[code]

And finally, I am proving ownership of

[2019-09-11 07:54] xkr47 commented on #137
@Gden50, through which interface did you connect to github? the web interface, the desktop/mobile client or the command line?

[2019-09-11 08:20] AlexMar543 commented on #154
### Keybase proof

I hereby claim:

  * I am alexmar543 on github.
  * I am alexmar (https://keybase.io/alexmar) on keybase.
  * I have a public key ASD0QYw7hZa-EI6pH5d-4R8WGenUNGz8my7CaHtbLOZs2Qo

To claim this, I am signing this object:

[code]

with the key [ASD0QYw7hZa-EI6pH5d-4R8WGenUNGz8my7CaHtbLOZs2Qo](https://keybase.io/alexmar), yielding the signature:

[code]

And finally, I am proving o

[2019-09-11 08:28] posfu opened #155 "keybase.md"
### Keybase proofI hereby claim:  * I am posfu on github.
  * I am nannebot999 (https://keybase.io/nannebot999) on keybase.
  * I have a public key ASBWSy_N5S2PR41btm-LxOlNRVwilt1m4_b6wf2oyAoiNQoTo claim this, I am signing this object:```json
{
  "body": {
    "key": {
      "eldest_kid": "0120564b2fcde52d8f478d5bb66f8bc4e94d455c2296dd66e3f6fac1fda8c80a22350a",
      "host": "keybase.io",
      "k

[2019-09-11 08:35] burakgok2000 opened #156 "keybase.md"
Keybase proof

I hereby claim:

  * I am burakgok2000 on github.
  * I am kerpek (https://keybase.io/kerpek) on keybase.
  * I have a public key ASBLlcN-JggEtB0Bwaml4kvc5i5jLnwupE-S7jQBfPr5AQo

To claim this, I am signing this object:

[code]

with the key [ASBLlcN-JggEtB0Bwaml4kvc5i5jLnwupE-S7jQBfPr5AQo](https://keybase.io/kerpek), yielding the signature:

[code]

And finally, I am proving owners

[2019-09-11 08:36] #153 closed

[2019-09-11 16:20] GodRACE opened #157 "GODRACE PROOF"
### Keybase proof

I hereby claim:

  * I am godrace on github.
  * I am sanmibreve (https://keybase.io/sanmibreve) on keybase.
  * I have a public key ASATa7PnAwoxX1_Z6s_DlkFRsdpxjPitU3Fn7wAhdCSmqQo

To claim this, I am signing this object:

[code]

with the key [ASATa7PnAwoxX1_Z6s_DlkFRsdpxjPitU3Fn7wAhdCSmqQo](https://keybase.io/sanmibreve), yielding the signature:

[code]

And finally, I am pro

[2019-09-11 16:21] #157 closed

[2019-09-12 02:46] anjo08 commented on #137
### Keybase proof

I hereby claim:

  * I am anjo08 on github.
  * I am anjo1987 (https://keybase.io/anjo1987) on keybase.
  * I have a public key ASCdnooigYQtW7hHIQMLSGNETkqw88I3_t1TdZSpT_utPAo

To claim this, I am signing this object:

[code]

with the key [ASCdnooigYQtW7hHIQMLSGNETkqw88I3_t1TdZSpT_utPAo](https://keybase.io/anjo1987), yielding the signature:

[code]

And finally, I am proving ow

[2019-09-12 05:56] dokoyaki opened #158 "Proof"
### Keybase proof

I hereby claim:

  * I am dokoyaki on github.
  * I am dokoyaki (https://keybase.io/dokoyaki) on keybase.
  * I have a public key ASCv46HDpeknym6uiykZ_iDHQhCcsKF4AmI332Hh17t--wo

To claim this, I am signing this object:

[code]

with the key [ASCv46HDpeknym6uiykZ_iDHQhCcsKF4AmI332Hh17t--wo](https://keybase.io/dokoyaki), yielding the signature:

[code]

And finally, I am proving

[2019-09-12 07:34] sdima14 commented on #158
### Keybase proof

I hereby claim:

* I am sdima14 on github.
* I am sdima (https://keybase.io/sdima) on keybase.
* I have a public key ASAlKFouUgvB1_vrXOZXaaJ0iC12kKxchW6v0e1vneor3go

To claim this, I am signing this object:

[code]

with the key [ASAlKFouUgvB1_vrXOZXaaJ0iC12kKxchW6v0e1vneor3go](https://keybase.io/sdima), yielding the signature:

[code]

And finally, I am proving ownership of the

[2019-09-13 17:15] xkr47 commented on #137
@saxofooon https://gist.github.com

[2019-09-15 05:59] Crypt05haman opened #159 "Keybase.md proof"
{
  "body": {
    "device": {
      "id": "1f030f3a6efdf7b32ae97beca6cadb18",
      "kid": "0120366af671461471dfc1809052146e7e4eabc68e4aed06e016de92b6f697654ab20a",
      "name": "FREEDOM",
      "status": 1,
      "type": "desktop"
    },
    "key": {
      "host": "keybase.io",
      "kid": "0120366af671461471dfc1809052146e7e4eabc68e4aed06e016de92b6f697654ab20a",
      "uid": "fd54aee4d76a42273f

[2019-09-15 06:04] Crypt05haman opened #160 "keybase.md"
### Keybase proof

I hereby claim:

  * I am crypt05haman on github.
  * I am den_freeman (https://keybase.io/den_freeman) on keybase.
  * I have a public key ASA2avZxRhRx38GAkFIUbn5Oq8aOSu0G4Bbekrb2l2VKsgo

To claim this, I am signing this object:

[code]

with the key [ASA2avZxRhRx38GAkFIUbn5Oq8aOSu0G4Bbekrb2l2VKsgo](https://keybase.io/den_freeman), yielding the signature:

[code]

And finally,

[2019-09-24 21:58] trevorsnee commented on #137
### Keybase proof

I hereby claim:

  * I am trevorsnee on github.
  * I am trevorsnee (https://keybase.io/trevorsnee) on keybase.
  * I have a public key ASDs8yT7cPO9--b4n12MrWe-wqtq2BBI-HYBxPP-GuDLogo

To claim this, I am signing this object:

[code]

with the key [ASDs8yT7cPO9--b4n12MrWe-wqtq2BBI-HYBxPP-GuDLogo](https://keybase.io/trevorsnee), yielding the signature:

[code]

And finally, I am

[2019-09-24 22:02] trevorsnee commented on #137
### Keybase proof

I hereby claim:

  * I am trevorsnee on github.
  * I am trevorsnee (https://keybase.io/trevorsnee) on keybase.
  * I have a public key ASDs8yT7cPO9--b4n12MrWe-wqtq2BBI-HYBxPP-GuDLogo

To claim this, I am signing this object:

[code]

with the key [ASDs8yT7cPO9--b4n12MrWe-wqtq2BBI-HYBxPP-GuDLogo](https://keybase.io/trevorsnee), yielding the signature:

[code]

And finally, I am

[2019-10-05 22:59] sorenbug opened #162 "Re-allow cycles in the graph"
I'd like to be able to prove ownership of my PGP key on multiple devices to connect the two diverging branches on my proof graph. This used to be possible but now the PGP key just switches ownership instead of creating a loop.

Alternatively, combined proofs so that I have to have two devices to verify a new one.

[2019-10-13 23:24] akuon commented on #137
### Keybase proof

I hereby claim:

  * I am akuon on github.
  * I am kingawo (https://keybase.io/kingawo) on keybase.
  * I have a public key ASCl_096nwIKOaebYZCWZJ9lU1cwfBK5UdfTDSIicGvXOwo

To claim this, I am signing this object:

[code]

with the key [ASCl_096nwIKOaebYZCWZJ9lU1cwfBK5UdfTDSIicGvXOwo](https://keybase.io/kingawo), yielding the signature:

[code]

And finally, I am proving owners

[2019-10-13 23:25] akuon commented on #160
### Keybase proof

I hereby claim:

  * I am akuon on github.
  * I am kingawo (https://keybase.io/kingawo) on keybase.
  * I have a public key ASCl_096nwIKOaebYZCWZJ9lU1cwfBK5UdfTDSIicGvXOwo

To claim this, I am signing this object:

[code]

with the key [ASCl_096nwIKOaebYZCWZJ9lU1cwfBK5UdfTDSIicGvXOwo](https://keybase.io/kingawo), yielding the signature:

[code]

And finally, I am proving owners

[2019-10-21 09:10] ptandler commented on #132
There's a KeybaseProofBot for Telegram, written by https://keybase.io/pingiun and not yet fully functional: https://t.me/KeybaseProofBot

[2019-11-25 17:17] mshelper opened #164 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am mshelper on github.
  * I am mshelper (https://keybase.io/mshelper) on keybase.
  * I have a public key ASDg3wbc8qoEnTDUwUo4wDnST6tymdxgJYZFV6rsWhWu9Qo

To claim this, I am signing this object:

[code]

with the key [ASDg3wbc8qoEnTDUwUo4wDnST6tymdxgJYZFV6rsWhWu9Qo](https://keybase.io/mshelper), yielding the signature:

[code]

And finally, I am proving

[2019-12-02 17:30] Bluethunde opened #165 "Bluethunde/Keybase.md"
### Keybase proof

I hereby claim:

  * I am bluethunde on github.
  * I am bluethunde (https://keybase.io/bluethunde) on keybase.
  * I have a public key ASAci8D_OrGHcGdJa29P9DZFsc75v70QC-GYpWhbTHG9RAo

To claim this, I am signing this object:

[code]

with the key [ASAci8D_OrGHcGdJa29P9DZFsc75v70QC-GYpWhbTHG9RAo](https://keybase.io/bluethunde), yielding the signature:

[code]

And finally, I am

[2019-12-18 13:45] koyuawsmbrtn opened #166 "Mastodon proofs are constantly breaking with authorized_fetch_mode"

[2019-12-28 11:13] hexandcube commented on #160
Why no one closes those issues? Keybase's support is terrible.

[2020-02-15 06:56] #137 closed

[2020-04-09 17:38] WraithFisto opened #179 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am wraithfisto on github.
  * I am whispy411 (https://keybase.io/whispy411) on keybase.
  * I have a public key ASAUDoBDTNIXm8os0qvUd0T6QVU_d2D_8hTI9UkiYlyU9Ao

To claim this, I am signing this object:

[code]

with the key [ASAUDoBDTNIXm8os0qvUd0T6QVU_d2D_8hTI9UkiYlyU9Ao](https://keybase.io/whispy411), yielding the signature:

[code]

And finally, I am pr

[2020-04-09 17:39] #179 closed

[2020-05-01 10:43] Dexvirxx commented on #137
### Keybase proof

I hereby claim:

  * I am dexvirxx on github.
  * I am dexvirxx (https://keybase.io/dexvirxx) on keybase.
  * I have a public key ASC_67E-FCsBJQRKelewNoyoskZjzCd6C8UT6bCUPPhJ5go

To claim this, I am signing this object:

[code]

with the key [ASC_67E-FCsBJQRKelewNoyoskZjzCd6C8UT6bCUPPhJ5go](https://keybase.io/dexvirxx), yielding the signature:

[code]

And finally, I am proving

[2020-05-01 10:55] hexandcube commented on #137
@Dexvirxx this is not a place for Keybase proofs. You're supposed to publish it as a gist on [gist.github.com](https://gist.github.com).

Also can someone from Keybase mute this issue?

[2020-05-01 10:58] hexandcube commented on #164
@mshelper This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 10:58] hexandcube commented on #160
@Crypt05haman @akuon This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 10:59] hexandcube commented on #159
@Crypt05haman This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 10:59] hexandcube commented on #158
@dokoyaki @sdima14 This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 10:59] hexandcube commented on #156
@burakgok2000 This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 11:00] hexandcube commented on #155
@posfu This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 11:00] hexandcube commented on #154
@2life91 This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 11:00] hexandcube commented on #152
@zekecucukwei This is not a place for Keybase Proofs. You should post it as a gist on [gist.github.com](https://gist.github.com). **Please close this issue**.

[2020-05-01 13:59] posfu commented on #155
How do I close the issue?

[2020-05-03 18:05] #159 closed

[2020-05-03 18:07] #160 closed

[2020-05-16 02:59] wisegirl0306 opened #180 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am wisegirl0306 on github.
  * I am trinityfulton (https://keybase.io/trinityfulton) on keybase.
  * I have a public key ASAQRU0GbgIieCfFh0j0MJfEQrNfihp8dvaAzCCLfNSNFgo

To claim this, I am signing this object:

[code]

with the key [ASAQRU0GbgIieCfFh0j0MJfEQrNfihp8dvaAzCCLfNSNFgo](https://keybase.io/trinityfulton), yielding the signature:

[code]

And fin

[2020-07-21 01:08] Kendrakefrosh opened #181 "### my Keybase proof I hereby claim: * I am kendrakefrosh@github. * I am kendrakefrosh@keybase (https://keybase.io/kendrakefrosh) on keybase. * I have a public key ASBSvBOQKPhIk7otIRdPDjUv81EoYGpICuAzLCPfzKeErAo To claim this, I am signing this obj "username": "kendrakefrosh" "name": "github", "username": "kendrakefrosh" And finally, I am proving ownership of the github account by posting this as a gisthub"

[2020-07-21 01:28] Kendrakefrosh opened #182 "Keybase proof"
### Keybase proof

I hereby claim:

  * I am kendrakefrosh on github.
  * I am kendrakefrosh (https://keybase.io/kendrakefrosh) on keybase.
  * I have a public key ASBSvBOQKPhIk7otIRdPDjUv81EoYGpICuAzLCPfzKeErAo

To claim this, I am signing this object:

[code]

with the key [ASBSvBOQKPhIk7otIRdPDjUv81EoYGpICuAzLCPfzKeErAo](https://keybase.io/kendrakefrosh), yielding the signature:

[code]

And fi

[2020-07-21 01:34] #181 closed

[2020-07-21 13:38] #182 closed

[2020-07-21 13:45] Kendrakefrosh opened #183 "Keybase proof"
hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgUrwTkCj4SJO6LSEXTw41L/NRKGBqSArgMywj38ynhKwKp3BheWxvYWTESpcCFMQgFOSND3+CSpo81HpkNJGVOZCd9BQvNoppE8p/y2v+ounEIGD0TDtmPNKJzSFaODZJQNG4rtCI7SjkqNJUkA1xFKHnAgHCo3NpZ8RA9BbBXwqmqoY/9Vx1mTRSSj7sKx358A5CcQReArkJ/fkFFzLrO5sY65NBNmC5WKn+qWVEY0xMLRFhFIGVsB6/BahzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIAu9XNcjE+1FSQZkK8fhFz2qtc22lTUaO7NN9t5jYSwfo3RhZ80CAqd2ZXJzaW9u

[2020-07-21 14:11] Kendrakefrosh commented on #183
### Keybase proof

I hereby claim:

  * I am kendrakefrosh on github.
  * I am kendrakefrosh (https://keybase.io/kendrakefrosh) on keybase.
  * I have a public key ASBSvBOQKPhIk7otIRdPDjUv81EoYGpICuAzLCPfzKeErAo

To claim this, I am signing this object:

[code]

with the key [ASBSvBOQKPhIk7otIRdPDjUv81EoYGpICuAzLCPfzKeErAo](https://keybase.io/kendrakefrosh), yielding the signature:

[code]

And fi

[2020-07-21 14:27] chindraba-work commented on #183
@Kendrakefrosh Round two and still not correct. The proof has to be posted in your own GitHub account. You cannot claim this account, or any account, this way.

[2020-08-25 00:19] bluebuddah opened #184 "Proof"
### Keybase proof

I hereby claim:

  * I am bluebuddah on github.
  * I am ewh2085 (https://keybase.io/ewh2085) on keybase.
  * I have a public key ASCYXex4tlXNlSz-O4BMTgXAy3RKBtpi1j6XYvGS_QprSwo

To claim this, I am signing this object:

[code]

with the key [ASCYXex4tlXNlSz-O4BMTgXAy3RKBtpi1j6XYvGS_QprSwo](https://keybase.io/ewh2085), yielding the signature:

[code]

And finally, I am proving o

[2020-08-25 04:18] chindraba-work commented on #184
@bluebuddah Since you've figured out that the proof has to be in your own GitHub account, and have done that, perhaps you can close this issue.

[2020-09-18 12:20] allyssonviegas opened #185 "Keybase.md"
### Keybase proof

I hereby claim:

  * I am allyssonviegas on github.
  * I am allyssonviegas (https://keybase.io/allyssonviegas) on keybase.
  * I have a public key whose fingerprint is 92D6 EC68 66B0 790F 434A  21D7 BCF4 FCD0 B617 E1E4

To claim this, I am signing this object:

[code]

with the key [92D6 EC68 66B0 790F 434A  21D7 BCF4 FCD0 B617 E1E4](https://keybase.io/allyssonviegas), yielding

[2020-09-18 12:25] allyssonviegas commented on #185
I've been trying to verify my account several times, via CLI and also WEB .. it has been failing multiple times.
I was able to proof other identities such as twitter and reddit. Initially I thought it could be something related to the 2FA with yubikeys but even without 2FA it still fail.

Please advise.

Allysson Viegas

[2020-09-18 13:29] chindraba-work commented on #185
To prove your identity on GitHub you have to do so by placing the proof in "your" account. Placing it here is like saying you own this account (github.com/keybase), which you don't. Your proof, once done, will be in https://gist.github.com/allyssonviegas somewhere.

[2020-09-18 15:38] allyssonviegas commented on #185
Hello @chindraba-work
Many thanks for the prompt response. I revoked the previous attempt and started again.. here is what I did.
1. created a repo called keybase
2. went to web and created a proof request.
3. placed the proof onto the keybase repo
https://github.com/allyssonviegas/keybase
4. I added the proof to Gist
https://gist.github.com/allyssonviegas

I still can't see my account verified.
K

[2020-09-18 16:55] allyssonviegas commented on #185
OK I got it sorted, actually after uploading the proof to gist, I was missing the "Make Public" button at the top. Once I made it public my account has been verified.
Thank you.

[2020-09-18 16:55] allyssonviegas commented on #185
sorted

[2020-09-18 16:55] #185 closed

[2020-11-05 03:41] ShadowStorm0 opened #186 "[Help] KeyBase Website Proof Issue"
Can someone explain why my .txt proof is not working.

https://keybase.io/python47
https://python47.com/keybase.txt/

[2020-11-05 05:22] ShadowStorm0 commented on #186
[SOLVED]

Placed keybase.txt file in html folder

[2020-11-05 05:23] #186 closed

[2020-11-24 05:04] andrewpachecoo opened #187 "Andrew Pacheco"
### Keybase proof

I hereby claim:

  * I am andrewpachecoo on github.
  * I am apacheco0521 (https://keybase.io/apacheco0521) on keybase.
  * I have a public key ASD4dQDENTGekds1G2SwAzRcU5Xg41uzhgYJILq0Bh8jkQo

To claim this, I am signing this object:

[code]

with the key [ASD4dQDENTGekds1G2SwAzRcU5Xg41uzhgYJILq0Bh8jkQo](https://keybase.io/apacheco0521), yielding the signature:

[code]

And fina

[2020-11-24 16:35] bluebuddah commented on #184
How do I close?

[2021-01-29 14:18] AungWorld opened #189 "Keybase Proof"
### Keybase proof

I hereby claim:

  * I am aungworld on github.
  * I am aungworld (https://keybase.io/aungworld) on keybase.
  * I have a public key ASDEmGE3ZJbsdYRydzkBw_B_w39w8yCFLUtPx-7wq7fzvgo

To claim this, I am signing this object:

[code]

with the key [ASDEmGE3ZJbsdYRydzkBw_B_w39w8yCFLUtPx-7wq7fzvgo](https://keybase.io/aungworld), yielding the signature:

[code]

And finally, I am prov

[2021-02-22 07:23] catcosmicice commented on #69
Any updates on this?

[2021-11-23 01:15] ysangkok commented on #89
Closing since I don't have the domain so I can't reproduce.

[2021-11-23 01:15] #89 closed

[2022-04-05 01:53] #72 closed

[2022-05-21 13:16] dirtytweakerfeet opened #192 "My keybase proof"
### Keybase proof

I hereby claim:

  * I am dirtytweakerfeet on github.
  * I am barefootpnpperv (https://keybase.io/barefootpnpperv) on keybase.
  * I have a public key ASDAvgvoG__Bvt_E3m47pyRUA7jy9_7zLDVdH1qSjKOgjgo

To claim this, I am signing this object:

[code]

with the key [ASDAvgvoG__Bvt_E3m47pyRUA7jy9_7zLDVdH1qSjKOgjgo](https://keybase.io/barefootpnpperv), yielding the signature:

[code

[2022-11-16 14:54] mikedesouza opened #193 "Keybase proof"
### Keybase proof

I hereby claim:

  * I am mikedesouza on github.
  * I am mdesouza (https://keybase.io/mdesouza) on keybase.
  * I have a public key ASDOy1PymXuYsS-uFd075Oc7ZFgdtDX92BI8i8lVGOt4rQo

To claim this, I am signing this object:

[code]

with the key [ASDOy1PymXuYsS-uFd075Oc7ZFgdtDX92BI8i8lVGOt4rQo](https://keybase.io/mdesouza), yielding the signature:

[code]

And finally, I am provi

[2022-11-16 14:55] #193 closed